Продажи по контрагентам обработаный.xlsx
Продажи по контрагентам.xlsx
Продажи по контрагентам обработаный(удалены невалидные адеса).xlsx
Продажи по контрагентам обработаный тест.xlsx
Продажи по контрагентам обработаный с валидностью емаилов.xlsx
Результат.xlsx
Результат.csv
Результат_промежуточный.xlsx